# /lib/systemd/system/wg-quick@.service
[Unit]
Description=Miron's VPN
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
Before=miron-vpn-wg.service

[Service]
Type=service
RemainAfterExit=yes
#ExecStartPost=/root/vpn.sh up
ExecStart=/root/vpn.sh systemd-start
ExecStop=/root/vpn.sh systemd-stop
ExecReload=/root/vpn.sh systemd-restart
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
